.libraryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        margin-bottom: 20px;
    }

    .sortSelectionContainer {
        width: 100%;

        option {
            background: none;
            outline: none;
            border: none;
            border-bottom: 0.5px solid black;
            min-width: fit-content;
            max-width: unset;
            font-family: 'Neue Montreal';
            font-size: inherit;
        }
    }

    > .albumCoverWrapper {
        width: calc(50% - 10px);
    }
}