.libraryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > * {
        margin-bottom: 20px;
    }

    .sortSelectionContainer {
        width: 100%;
    }

    > .albumCoverWrapper {
        width: calc(50% - 10px);
    }
}