[Unit]
Description=Record Collection Service
After=network.target

[Service]
ExecStart=/Users/harryshapiro/developer/record-collection/run.sh
Restart=always
User=harryshapiro
Environment=NODE_ENV=production
WorkingDirectory=/Users/harryshapiro/developer/record-collection

[Install]
WantedBy=multi-user.target