.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    width: calc(100vw - 40px);
    max-width: 1200px;
    margin: 20px auto auto;
    box-sizing: border-box;
    
    > div {
        width: 48%;

        &.leftBar {
            text-align: left;
        }
        &.rightBar {
            max-width: 450px;
            text-align: right;
            .playerContainerWrapper {
                margin-bottom: 30px;
            }
        }
    }
}